
        <section class="container"  id="women_dress" >
				     <div class="row" >
					    
					     <div class="col-sm-3" id="DressList">
						     
						    <product-directive itemlist="brandNames" title="'Product List'">
							     
							 </product-directive>
							 

						    <product-directive itemlist="uksizes" title="'Uk Size'">
							     
							 </product-directive>
							  <product-directive itemlist="fabric" title="'Fabric'">
							     
							 </product-directive>


						 </div><!--end of list-->
						 
						    
						 
					     <div class="col-sm-9" >
                              <h2>Women Dress</h2> 
                              <p>The key component to every style mavens wardrobe. Dresses are the ultimate go-to piece, 
                              whether it's for a day at the office in a chic shift dress, Show more</p> <hr>						 
  					          <div class="row">
				                 <div class="col-sm-4" >
					                 <img src="image/women_dress3.jpg" alt="women dress" class="cloth"/>
					                 <h4>Phase</h4>
						             <a>Eight Myrtle Dress</a> 
						             <h4> £102.00</h4>
					             </div>
					             <div class="col-sm-4">
					                  <img src="image/women_dress4.jpg" alt="women dress" class="cloth"/>
					                  <h4>Karen</h4>
						              <a> Millen Lily Print Pencil Dress</a>
						              <h4> £232.50</h4>
				                 </div>
					             <div class="col-sm-4">
					                   <img src="image/women_dress5.jpg" alt="women dress" class="cloth"/>
					                    <h4>Phase</h4>
						             <a>Eight Myrtle Dress</a> 
						             <h4> £72.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_dress12.jpg" alt="women dress" class="cloth"/>
					                <h4>Hobbs</h4>
						             <a>Millen Lily Print Pencil Dress</a>
						             <h4> £82.00</h4>
				                 </div>
								 <div class="col-sm-4">
					                <img src="image/women_dress6.jpg" alt="women dress" class="cloth"/>
					                 <h4>Eliza</h4>
						             <a>Eliza J Crushed Taff Dress With Jacket</a>
						             <h4> £232.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_dress7.jpg" alt="women dress" class="cloth"/>
					                  <h4>AllSaints</h4>
						             <a>Phase Eight Myrtle Dress</a>
						             <h4> £35.50</h4>
				                 </div>
								 
								 <div class="col-sm-4">
					                 <img src="image/women_dress9.jpg" alt="women dress" class="cloth"/>   
					                  <h4>Karen</h4>
						              <a> Millen Lily Print Pencil Dress</a>
						             <h4> £95.00</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_dress10.jpg" alt="women dress" class="cloth"/>
					                 <h4>Mint Velvet</h4>
						             <a>Eight Myrtle Dress</a>
						             <h4> £43.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                <img src="image/women_dress12.jpg" alt="women dress" class="cloth"/>
					                 <h4>Mint Velvet</h4>
						             <a>Phase Eight Myrtle Dress</a>
						             <h4> £92.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                <img src="image/women_dress13.jpg" alt="women dress" class="cloth"/>
					                <h4>Eliza</h4>
						             <a>Eliza J Crushed Taff Dress With Jacket</a>
						             <h4> £232.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_dress14.jpg" alt="women dress" class="cloth"/>
					                 <h4>AllSaints</h4>
						             <a>Eight Myrtle Dress</a>
						             <h4> £362.90</h4>
				                 </div>
				                
						   </div><!--end of row-->
					  </div><!--end of jecket photo-->
					 	
					 </div><!--end of row-->
       </section> <!-- end of spring hero--> 
   