
        <section class="container"  id="jecket" >
				     <div class="row" >
					     <div class="col-sm-3" id="productList">
						     
						    <product-directive itemlist="brandNames" title="'Product List'">
							     
							 </product-directive>
							 

						    <product-directive itemlist="uksizes" title="'Uk Size'">
							     
							 </product-directive>
							  <product-directive itemlist="fabric" title="'Fabric'">
							     
							 </product-directive>


						 </div><!--end of list-->
						 
					     <div class="col-sm-9" >
                              <h2>Bomber Jeckets</h2> 
                              <p>Be bang-on-trend in this classic British weather with our selection of womens coats and jackets. 
                              Whether your coat style is an androgynous Parka, Show more</p> <hr>						 
  					          <div class="row">
				                 <div class="col-sm-4" >
					                 <img src="image/women_jecket1.jpg" alt="women jecket" class="cloth"/>
					                 <h4>The Bicker Jecket</h4>
						             <a>shop bicker jacket</a> 
						             <h4> £102.00</h4>
					             </div>
					             <div class="col-sm-4">
					                  <img src="image/women_jecket2.jpg" alt="women jecket" class="cloth"/>
					                  <h4>Phase Eight</h4>
						              <a>shop bomber jacket</a>
						              <h4> £232.50</h4>
				                 </div>
					             <div class="col-sm-4">
					                 <img src="image/women_jecket3.jpg" alt="women jecket" class="cloth"/>
					                 <h4>The Bomber Jecket</h4>
						             <a>shop bomber jacket</a>
						             <h4> £72.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket4.jpg" alt="women jecket" class="cloth"/>
					                <h4>Hobbs Selma Mac</h4>
						             <a>shop bomber jacket</a>
						             <h4> £82.00</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket5.jpg" alt="women jecket" class="cloth"/>
					                 <h4>Mint Velvet</h4>
						             <a>shop bomber jacket</a>
						             <h4> £232.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket6.jpg" alt="women jecket" class="cloth"/>
					                  <h4>AllSaints</h4>
						             <a>shop bomber jacket</a>
						             <h4> £35.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket7.jpg" alt="women jecket" class="cloth"/>
					                 <h4>Jacques Vert</h4>
						             <a>shop bomber jacket</a>
						             <h4> £262.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket8.jpg" alt="women jecket" class="cloth"/>
					                 <h4>The Bomber Jecket</h4>
						             <a>shop bomber jacket</a>
						             <h4> £95.00</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket9.jpg" alt="women jecket" class="cloth"/>
					                 <h4>Mint Velvet</h4>
						             <a>shop bomber jacket</a>
						             <h4> £43.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket10.jpg" alt="women jecket" class="cloth"/>
					                 <h4>Mint Velvet</h4>
						             <a>shop bomber jacket</a>
						             <h4> £92.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket11.jpg" alt="women jecket" class="cloth"/>
					                 <h4>Hobbs Selma Mac</h4>
						             <a>shop bomber jacket</a>
						             <h4> £232.50</h4>
				                 </div>
								 <div class="col-sm-4">
					                 <img src="image/women_jecket12.jpg" alt="women jecket" class="cloth"/>
					                 <h4>AllSaints</h4>
						             <a>shop bomber jacket</a>
						             <h4> £362.90</h4>
				                 </div>
						   </div><!--end of row-->
					  </div><!--end of jecket photo-->
					 	
					 </div><!--end of row-->
       </section> <!-- end of spring hero--> 
   